html, body, p, ul, ol, div, h1, h2 {
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

html, body, #wall {
  height: 100%;
}

#wall {
  //position: relative;
}

#items-container {
  min-height: 100%;
  width: 100%;
  position: relative;
}

#items {
  overflow: scroll;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  min-width: 100%;
  min-height: 100%;
  & > *:not(.corner):not(.border):not(#security-cams) {
    top: 1000px;
    position: absolute;
  }
  .item {
    display: inline-block;
    position: absolute;
    &:before,
    &:after {
      bottom: 15px;
      width: 50%;
      height: 20%;
      max-width: 300px;
      max-height: 100px;
      box-shadow: 0 15px 10px rgba(31, 31, 31, 0.7);
      content: "";
      position: absolute;
      z-index: -2;
      display: block;
    }
    &:before {
      left: 10px;
      transform: translate3D(0px,0px,-1px) rotate(-4deg);
    }
    &:after {
      right: 10px;
      transform: translate3D(0px,0px,-1px) rotate(4deg);
    }
    .item-inner {
      height: 100%;
      width: 100%;
      background-color: #fff;
    }
    @for $i from 1 through 24 {
      &:nth-child(#{$i}) {
        transform: rotate((random(7) - random(7)) + deg);
      }
    }
  }
}

.zoominit #items {
  transition: transform 0.3s ease-in-out;
}

#icons {
  position: fixed;
  left: 0;
  bottom: 8px;
  i {
    cursor: pointer;
    font-size: 35px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    .mousedown & {
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }
  }
}
